@font-face {
    font-family: spotify-bold;
    src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

header{
    background-color: #000;
    padding: 14px 16px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.spotify-img{
    height: fit-content;
    align-self: center;
}

.nav-section{
    display: flex;
    gap: 16px;
    height: fit-content;
    align-items: center;
}

.open-app{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 9999px;
    font-family: spotify-bold;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    padding: 8px 15px 8px;
    transform: translateY(-2px);
}
