@font-face {
    font-family: spotify-regular;
    src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: spotify-bold;
    src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: spotify-font;
    src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #121212;
}

header{
    background-color: #000;
    padding-inline: 16px;
    padding-top: 14px;
    padding-bottom: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.spotify-img{
    height: fit-content;
    align-self: center;
}

.nav-section{
    display: flex;
    gap: 16px;
    height: fit-content;
    align-items: center;
}

.open-app{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 9999px;
    font-family: spotify-bold;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-inline: 15px;
    transform: translateY(-2px);
}

.song-container{
    display: flex;
    flex-direction: column;
}

.songs-container{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.song-section-heading{
    font-family: spotify-font;
    font-size: 20px;
    line-height: normal;
    font-weight: 700;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 12px;
    margin-inline: 16px;
}

.song-section-body{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    padding-right: 16px;
    padding-left: 8px;
}

.song-card{
    display: flex;
    flex-direction: column;
    padding-block: 8px;
    padding-right: 8px;
    padding-left: 8px;
    width: fit-content;
}

.song-card img {
    width: 152px;
    height: 152px;
    object-fit: cover;
    border-radius: 4px;
}

.song-title{
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    padding-top: 8px;
    text-overflow: ellipsis;
}

footer{
    padding-inline: 16px;
    padding-top: 8px;
    padding-bottom: 132px;
}

.footer-top{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.footer-elements{
    margin-bottom: 40px;
}

.footer-elements-heading{
    font-family: spotify-bold;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    padding-bottom: 8px;
}

.footer-elements-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-elements-list li{
    font-family: spotify-regular;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #b3b3b3;
}

.footer-apps-list{
    display: flex;
    flex-direction: row;
    gap: 16px;
    border-bottom: 1px solid #292929;
    padding-bottom: 40px;
}

.footer-apps{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #292929;
    border: 1px solid #292929;
    align-items: center;
    display: flex;
    justify-content: center;
}

.footer-apps img{
    height: 16px;
    width: 16px;
}

.footer-bottom{
    padding-top: 38px;
    display: flex;
    flex-direction: column;
}

.footer-bottom-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-bottom-list li{
    font-family: spotify-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #b3b3b3;
    margin-right: 16px;
    margin-bottom: 10px;
}

.footer-bottom-list li:nth-child(n+4):nth-child(-n+6){
    margin-bottom: 8px;
}

.spotify-ab{
    font-family: spotify-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #b3b3b3;
}

.lang-div{
    padding-top: 16px;
}

.lang-button{
    border-radius: 9999px;
    border: 1px solid #7c7c7c;
    background-color: #121212;
    width: fit-content;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.lang-button img{
    width: 16px;
    height: 16px;
}

.lang-button span{
    font-family: spotify-bold;
    font-size: 13px;
    font-weight: 700;
    align-items: center;
    line-height: 18px;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .footer-content{
        margin-top: 32px;
    }

    .footer-top{
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .footer-elements{
        width: 40%;
        margin-right: 24px;
    }

    .footer-bottom-list li{
        margin-bottom: 8px !important;
    }
}

@media screen and (min-width: 992px) {
    footer{
        padding-inline: 32px;
    }

    .footer-top{
        flex-wrap: nowrap;
        flex: 1 1 50%;
    }

    .footer-elements{
        width: 20%;
    }

    .footer-content{
        display: flex;
        border-bottom: 1px solid #292929;
    }

    .footer-apps-list{
        border-bottom: none;
    }

    .footer-bottom{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 36px;
    }

    .footer-bottom-list li{
        margin-top: 2px;
    }

    .spotify-ab{
        padding-right: 16px;
    }

    .lang-div{
        display: none;
    }
}