@font-face {
  font-family: spotify-regular;
  src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
  font-family: spotify-bold;
  src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
  font-family: spotify-font;
  src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

*{
  padding: 0;
  margin: 0;
}

body{
  padding-top: 56px;
  background-color: #121212;
}

.cards-section{
  padding-left: 8px;
}

.cards-section h2{
  color: #fff;
  font-family: spotify-font;
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
  padding-inline: 8px;
}

.cards-row{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-right: 8px;
}

.cards{
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.cards img{
  height: 152px;
  width: 152px;
  border-radius: 4px;
  object-fit: cover;
}

.no-content{
  background-color: #282828;
  height: 152px;
  width: 152px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-content img{
  height: 45.59px;
  width: 45.59px;
}

.cards span{
  color: #fff;
  font-family: spotify-regular;
  font-weight: 400;
  font-size: 16px;
  text-wrap: wrap;
}

.mobile-bottom-nav{
  display: flex;
  flex-direction: row;
  height: 70px;
  background: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .9), #121212);
  position: sticky;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.bottom-nav-item{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
  justify-content: center;
  align-items: center;
}

.bottom-nav-item img{
  height: 24px;
  width: 24px;
}

.bottom-nav-item span{
  color: #b3b3b3;
  font-family: spotify-regular;
  font-size: 11px;
  font-weight: 400;
}