@font-face {
    font-family: spotify-bold;
    src: url(font/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2);
}

@font-face {
    font-family: spotify-regular;
    src: url(font/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2);
}

@font-face {
    font-family: spotify-font;
    src: url(font/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2);
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
}

header {
    background-color: #000;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

.spotify-img {
    height: fit-content;
    align-self: center;
    padding-left: 16px;
    padding-top: 4px;
}

.spotify-logo{
    display: none;
}

.menu-bar{
    padding-top: 4px;
}

.nav-button {
    display: none;
}

.navbar-right {
    display: flex;
    gap: 16px;
    height: fit-content;
    align-items: center;
}

.navbar-text {
    display: none;
}

.nav-line {
    display: none;
}

.install-app {
    display: none;
}

.sign-up {
    display: none;
}

.log-in {
    display: none;
}

.open-app {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-family: spotify-bold;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: normal;
    padding: 8px 15px 8px;
}

.menu-bar{
    padding-right: 16px;
}

@media screen and (min-width: 960px) {
    header {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .open-app {
        display: none;
    }

    .menu-bar {
        display: none;
    }

    .navbar-left {
        display: flex;
    }

    .spotify-img{
        display: none;
    }

    .spotify-logo {
        padding-left: 28px;
        padding-right: 12px;
        display: block;
    }

    .spotify-logo img {
        padding-top: 4px;
    }

    .nav-button {
        display: flex;
        gap: 8px;
        padding-left: 16px;
        width: 100%;
    }

    .home-button {
        background-color: #1f1f1f;
        border-radius: 50%;
        border: 1px solid transparent;
        padding: 11px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .search-button {
        background-color: #1f1f1f;
        border-radius: 50%;
        border: 1px solid transparent;
        padding: 11px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .home-button img {
        height: 24px;
        width: 24px;
    }

    .search-button img {
        height: 24px;
        width: 24px;
    }

    .navbar-right {
        gap: 8px;
    }

    .navbar-text {
        display: flex;
        background-color: transparent;
        color: #b3b3b3;
        font-family: spotify-font;
        font-size: 16px;
        text-wrap: nowrap;
        font-weight: 700;
        letter-spacing: normal;
        border: none;
        text-decoration: none;
    }

    .nav-line {
        display: block;
        height: 25px;
        width: 1px;
        background-color: #fff;
        margin-inline: 16px;
    }

    .install-app {
        display: flex;
        background-color: transparent;
        color: #b3b3b3;
        border: 1px solid transparent;
        font-family: spotify-bold;
        font-size: 14px;
        font-weight: 700;
        padding-right: 14px;
        padding-left: 11px;
        text-wrap: nowrap;
        letter-spacing: normal;
    }

    .install-app img {
        padding-right: 8px;
    }

    .sign-up {
        display: flex;
        background-color: transparent;
        border: 1px solid transparent;
        color: #b3b3b3;
        font-family: spotify-font;
        font-size: 14px;
        font-weight: 700;
        padding-left: 8px;
        padding-right: 8px;
        text-wrap: nowrap;
        letter-spacing: normal;
    }

    .log-in {
        display: flex;
        border: 1px solid transparent;
        border-radius: 50px;
        width: 108.3px;
        height: 48px;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
    }

    .log-in span {
        font-family: spotify-bold;
        font-size: 16px;
        font-weight: 700;
        color: #000;
        text-wrap: nowrap;
        letter-spacing: normal;
    }
}